div.sticky-top.bg-light.d-flex.flex-row.align-items-stretch.justify-content-around
  div
    h4
      b Список мест размещения
  div
    form(action="/data", method="get")
      button.btn.btn-link(type="submit") &#8595; .XLSX
each name, index in data.priorityNames
  div
    h5.text-center
      b= `Приоритет ${index + 1}: ${data.placesByPriority[name].length} шт`
    table(class=`table table-light`)
      tr
        th #
        th Наименование
        th Адрес
      each item, index in data.placesByPriority[name]
        tr
          td= index + 1
          td= item[`name`]
          td= item[`address`]
