div.sticky-top.bg-light.d-flex.flex-row.align-items-stretch.justify-content-center.pt-2.pb-2
  div
    h5
      b Список мест размещения
  div
    form(action="/download/fvf/places", method="get")
      button.btn.btn-link.pt-0(type="submit") &#8595; .XLSX
div
  h5.text-center
    b= `Установлено Кордон Про М: ${data.cordons.length} шт`
  table(class=`table table-light`)
    tr
      th #
      th Наименование
      th Адрес
    each item, index in data.cordons
      tr
        td= index + 1
        td= item[`name`]
        td= `${item[`description`]} ${item[`address`]}`

each name, index in data.priorityNames
    h5.text-center
      b= `Приоритет ${index + 1}: ${data.placesByPriority[name].length} шт`
    table(class=`table table-light`)
      tr
        th #
        th Наименование
        th Адрес
      each item, index in data.placesByPriority[name]
        tr
          td= index + 1
          td= item[`name`]
          td= `${item[`description`]} ${item[`address`]}`
