extends layout

block diagram
  h6
    b Дорожная карта ИВН
  .mermaid
    :markdown-it(inline)
      gantt
        dateFormat  YYYY-MM-DD
        section Респ. сегмент
          Доведение до Минцифры РМ доп. ЛБО (до 15 млн. руб.) :active, a1, 2022-07-01, 21d
          Наличие в полном объеме требуемых для выкупа ИВН ЛБО :milestone, ma1, after a1, 1h
          Оплата и досрочный выкуп :a2, after a1, 7d %% comment 2
          Денежные средства перечислены на счет ПАО "Ростелеком" для выкупа подсистемы :milestone, ma2, after a2, 1h
          Процедура приемки и подписание акта приема-передачи :a3, after a2, 14d
          Подписан акт приема-передачи, подсистема ИВН передана в собственность РМ :milestone, ma3, after a3, 1h
          Переоформление точек техн. присоединения (э/п) :a4, after a2, 34d
          Технологические подключения переоформлены на владельца ИВН :milestone, ma4, after a4, 1h
        section Гор. сегмент
          Аудит передаваемого оборудования и ПО :active, b1, 2022-07-01, 7d
          Сформирован и актуализирован состав передаваемого имущества :milestone, mb1, after b1, 1h
          Процедура приемки и подписание акта приема-передачи :b2, after b1, 14d
          Подписан акт приема-передачи, городской сегмент ИВН передан в собственность РМ :milestone, mb2, after b2, 1h
          Переоформление точек техн. присоединения (э/п) :b3, after b1, 48d
          Технологические подключения переоформлены на владельца ИВН :milestone, mb3, after b3, 1h
        section Эксплуатация
          Передача подсистемы ИВН в хоз. ведение ГУП РМ "НПЦ ИНТ" :c1, 2022-07-22, 41d
          Закрепление ИВН за ГУП РМ "НПЦ ИНТ" :milestone, mc1, after c1, 1h
          Передислокация рубежей контроля на актуальные адреса (в соответствии с письмом МВД по Республике Мордовия) :c2, after c1, 91d
          Осуществлена передислокация рубежей контроля ИВН :milestone, mc2, after c2, 1h
          Перевод сети передачи данных ИВН на республиканскую инфраструктуру (расширение существующей сети передачи данных) :c3, after c1, 91d
          Рубежи контроля переведены на республиканскую инфраструктуру системы передачи данных, независимую от сторонних операторов связи :milestone, mc3, after c3, 1h
          Обеспечение полноценной эксплуатации подсистемы ИВН силами  ГУП РМ "НПЦ ИНТ" :c4, after c3, 31d
          Эксплуатация ИВН организована ГУП РМ "НПЦ ИНТ" хозспособом :milestone, mc4, after c4, 1h
  script(src='https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js')
  script.
    mermaid.initialize({
      theme: 'forest',
      startOnLoad: true,
      securityLevel: 'loose',
    });

block content
  - var totalMun = (data[`munCostData`][`total`][`fiber`] + data[`munCostData`][`total`][`hardware`]) / 1000;
  - var hardwareResp = 6210;
  - var fiberResp = 11540;
  - var lastInchesResp = 7250;
  - var totalResp = hardwareResp + fiberResp + lastInchesResp;
  h5
    b= `Затраты на подключение ИВН`
  table(class=`table table-light`)
    tr
      th #
      th Наименование
      th Стоимость, тыс. руб.
    tr
      td 1
      td Подключение муниципального сегмента ИВН
      td(class=`text-end`)= totalMun.toFixed(2)
    tr
      td 2
      td Подключение республиканского сегмента ИВН
      td(class=`text-end`)= totalResp.toFixed(2)
    tr
      td
        b -
      td
        b ИТОГО
      td(class=`text-end`)
        b= (totalMun + totalResp).toFixed(2)

  h6
    b= `Подключение муниципального сегмента`
  table(class=`table table-light`)
    tr
      th #
      th Наименование
      th ВОЛС, тыс. руб.
      th ТКШ, тыс. руб.
      th Итого, тыс. руб.
    each item, index in data[`munCostData`]
      tr
        td= index + 1
        td= item[`name`]
        td(class=`text-end`)= (item[`fiber`] / 1000).toFixed(2)
        td(class=`text-end`)= (item[`hardware`] / 1000).toFixed(2)
        td(class=`text-end`)= ((item[`fiber`] + item[`hardware`]) / 1000).toFixed(2)
    tr
      td
        b -
      td
        b ИТОГО
      td(class=`text-end`)
        b= (data[`munCostData`][`total`][`fiber`] / 1000).toFixed(2)
      td(class=`text-end`)
        b= (data[`munCostData`][`total`][`hardware`] / 1000).toFixed(2)
      td(class=`text-end`)
        b= totalMun.toFixed(2)
  h6
    b= `Подключение республиканского сегмента`
  table(class=`table table-light`)
    tr
      th #
      th Наименование
      th Стоимость, тыс. руб.
    tr
      td 1
      td Закупка и монтаж ТКШ (135 шт)
      td(class=`text-end`)= hardwareResp.toFixed(2)
    tr
      td 2
      td Строительство ВОЛС (46 км)
      td(class=`text-end`)= fiberResp.toFixed(2)
    tr
      td 1
      td Строительство “последних дюймов” (414 шт)
      td(class=`text-end`)= lastInchesResp.toFixed(2)
    tr
      td
        b -
      td
        b ИТОГО
      td(class=`text-end`)
        b= totalResp.toFixed(2)
